@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes color {
  40% {
    background: white;
    background-image: url("../public/pixels.svg");
  }
  50% {
    background: #ededed;
    background-image: url("../public/pixels.svg");
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman';
  background: #ededed;
  background-image: url("../public/pixels.svg");
  animation: color 10s infinite linear;
}



